<ion-content class="background" [fullscreen]="true">

    <div class="title">
      <ion-text ><h1>Le Bateau de Thibault</h1></ion-text>
    </div>
    <div class="subtitle">
      <div class="description">
        <ion-text>Vente en direct de notre bateau <br/> Produit selon la saison, Livraisons sur Paris</ion-text>
      </div>
      <div class="contact">
        <ion-text>
          <p>
            <a href="tel:+33663999978">06.63.99.99.78 </a><br/> 
            <a href="mailto:lebateaudethibault@gmail.com">lebateaudethibault@gmail.com</a><br/> 
            <a href="https://www.facebook.com/lebateaudethibault">www.facebook.com/lebateaudethibault</a> <br/>
          </p>
        </ion-text>
      </div>
    </div>
    <div class="buttons">
      <ion-grid>
        <ion-row>
          <ion-col>
            <app-menu-button [menuButton]='ProduitetPromotions'></app-menu-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-menu-button [menuButton]='Bateaux'></app-menu-button>
          </ion-col>
          <ion-col>
            <app-menu-button [menuButton]='Restaurant'></app-menu-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-menu-button [menuButton]='Recettes'></app-menu-button>
          </ion-col>
          <ion-col>
            <app-menu-button [menuButton]='Contact'></app-menu-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  
</ion-content>
