ion-grid {
  justify-content: center;
  align-items: center;
}

ion-col {
  text-align: center;
  width: 100%;
  background-color: #2d2a2a42;
  border: solid 1px grey;
  margin: 5px;
  padding: 0;
}

ion-col:hover {
  background-color: #2d2a2a65;
}

ion-content.background {
  --background: url(../../assets/images/background.png) 0 0/100% 100% no-repeat;
}

.title {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: Satisfy;
  height: 25vh;
}

.subtitle {
  height: 25vh;
  color: black;
  align-items: center;
  justify-content: center;
}

.buttons {
  height: 45vh;
  align-items: center;
  justify-content: center;
}

.description {
  font-family: Kalam-bold;
  text-align: center;
  line-height: 1;
}

.contact {
  text-align: center;
  font-family: Kalam;
  line-height: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: blue;
}