<ion-content class="background" [fullscreen]="true">

  <div (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')">
    <div class="title">
      <ion-text>
        <h1>{{ MainPage.titre }}</h1>
      </ion-text>
    </div>
    <div *ngIf="!isMenuPage(this.MainPage.index); then istrue"></div>
    <ng-template #istrue>
      <ion-img class="image" src='{{ MainPage.buttonArray[0].image }}'></ion-img>
    </ng-template>
    <div class="subtitle">
      <div *ngIf="isMenuPage(this.MainPage.index); then showUpDesc"></div>
      <ng-template #showUpDesc>
        <div class="description">
          <ion-text>{{ MainPage.description }}</ion-text>
        </div>
      </ng-template>
      <div *ngIf="isContactOrMenu(this.MainPage.index); then showContact  else genericDesc"></div>
      <ng-template #showContact>
        <app-contact></app-contact>
      </ng-template>
      <ng-template #showDownDesc>
        <div class="contact">
          <ion-text>{{ MainPage.description }}</ion-text>
        </div>
      </ng-template>
      <div *ngIf="!isMenuPage(this.MainPage.index); then showDownDesc"></div>
      <ng-template #genericDesc>
        <div style="padding : 5px" class="contact">
          <ion-text> XXX YYY ZZZ</ion-text>
        </div>
      </ng-template>
    </div>
    <div *ngIf="isMenuPage(this.MainPage.index); then showbuttons"></div>
    <ng-template #showbuttons>
      <div class="buttons">
        <ion-grid *ngFor="let button of MainPage.buttonArray; index as i">
          <div *ngIf="(this.isEven && i%2 == 0) || (!this.isEven && (i%2 != 0 || i ==0)); then even"></div>
          <ng-template #even>
            <div *ngIf="(!this.isEven && i==0); then first else other"></div>
            <ng-template #first>
              <ion-row>
                <ion-col>
                  <app-menu-button [menuButton]='button'
                    (setMainPage)='this.setMainPage(button.index)'></app-menu-button>
                </ion-col>
              </ion-row>
            </ng-template>
            <ng-template #other>
              <ion-row>
                <ion-col>
                  <app-menu-button [menuButton]='button'
                    (setMainPage)='this.setMainPage(button.index)'></app-menu-button>
                </ion-col>
                <ion-col>
                  <app-menu-button [menuButton]='MainPage.buttonArray[i+1]'
                    (setMainPage)='this.setMainPage(MainPage.buttonArray[i+1].index)'></app-menu-button>
                </ion-col>
              </ion-row>
            </ng-template>
          </ng-template>
        </ion-grid>
      </div>
    </ng-template>
  </div>
</ion-content>