@font-face {
  font-family: Satisfy;
  src: url(../../assets/fonts/Satisfy-Regular.ttf);
}

@font-face {
  font-family: Kalam;
  src: url(../../assets/fonts/Kalam-Regular.ttf);
}

@font-face {
  font-family: Kalam-bold;
  src: url(../../assets/fonts/Kalam-Bold.ttf);
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-col {
  text-align: center;
  width: 100%;
  background-color: #2d2a2a42;
  border: solid 1px black;
  margin: 5px;
  padding: 0;
}

ion-button > p {
  width: 100%;
  text-align: left;
  padding: 5px;
}

ion-content.background {
  --background: url(../../assets/images/background.png) 0 0/100% 100% no-repeat;
}

ion-img.icone {

}

ion-button {
  margin: 0;
  color: white;
}


.title {
  text-align: center;
  color: white;
  font-family: Satisfy;
  //font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.description {
  font-family: Kalam-bold;
}

.contact {
  font-family: Kalam;
}