ion-content.background {
    --background: url(../../assets/images/background.png) 0 0/100% 100% no-repeat;
}

.title {
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Satisfy;
    height: 15vh;
    font-size: 2em;
}

.photo_container{
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.photo_content{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.photo_Thibault{
    height: 75%;
}

.main-toolbar{
    justify-content: center;
    margin: 0;
    padding: 0;
}