<ion-toolbar class="main-toolbar">
  <ion-buttons slot="start">
      <ion-button [routerLink]="'/home'">
        <ion-img src="../../assets/images/homeLogo.png"></ion-img>
      </ion-button>
  </ion-buttons>

  <ion-title>
      <ion-img 
      src="../../assets/images/navbarbg.png"
      alt="Barre de navigation"
      ></ion-img>
  </ion-title>

  <ion-buttons slot="end">
      <ion-button>
        <ion-img src="../../assets/images/cartLogo.png"></ion-img>
      </ion-button>
  </ion-buttons>
</ion-toolbar>