<div style="overflow: hidden;">
  <div style="height: 45vh; overflow: auto;">
    <ion-grid *ngFor="let item of realPanierList">
      <ion-row>
        <ion-col>
          <ion-button fill="clear" expand="full">
            <div *ngIf="item.image; then showImage"></div>
            <ng-template #showImage>
              <ion-img  class="icone" src='{{ item.image }}'></ion-img>
            </ng-template>
             <p style="width: 100%; text-align: left;">{{ item.name }}</p>
             <p style="text-align: right;">{{item.num}} x {{ item.price }} €</p>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div style="background-color: #2d2a2a42; border: solid 1px grey; height:max-content; font-family: Arial, Helvetica, sans-serif;">
    <p style="text-align: right; font-size: larger; padding-right: 20px;">Total: {{getTotal()}} €</p>
    <ion-row>
      <!-- <ion-button style="background-color: transparent;">Lieu de livraison</ion-button> -->
      <ion-item>
        <ion-select label="Lieu de livraison" label-placement="stacked">
          <ion-select-option value="apple">Apple</ion-select-option>
          <ion-select-option value="banana">Banana</ion-select-option>
          <ion-select-option value="orange">Orange</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item>
        <ion-select label="Date de livraison" label-placement="stacked">
          <ion-select-option value="apple">Apple</ion-select-option>
          <ion-select-option value="banana">Banana</ion-select-option>
          <ion-select-option value="orange">Orange</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-button id="present-alert">
        <p style="text-align: right; width: 100%;">Valider</p>
      </ion-button>
      <ion-alert
        [isOpen]="isAlertOpen"
        trigger="present-alert"
        header="Alert"
        subHeader="Important message"
        message="This is an alert!"
        [buttons]="alertButtons"
        (didDismiss)="setOpen(false)"
      >
      </ion-alert>
    </ion-row>
  </div>
</div>
